---
services:
  syncthing:
    container_name: "syncthing"
    image: "{{syncthing_container_image}}"
    restart: unless-stopped

    devices: []
    environment:
      - PUID={{syncthing_unix_user_id}}
      - PGID={{syncthing_unix_group_id}}
      - UMASK={{syncthing_unix_umask}}
      - TZ={{syncthing_timezone}}
      {% for key,value in syncthing_container_env.items() -%}
      - {{key}}={{value}}
      {% endfor %}

    ports:
      {% for port in syncthing_container_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor %}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in syncthing_container_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {% for volume in syncthing_container_volumes_extra -%}

      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor %}

    cap_add: []

networks:
  default:
    name: "{{syncthing_container_network_name}}"
    external: true
