---
services:
  activepieces:
    container_name: "activepieces"
    image: "{{activepieces_docker_image}}"
    restart: unless-stopped

    environment:
      - PUID={{activepieces_unix_user_id}}
      - PGID={{activepieces_unix_group_id}}
      - UMASK={{activepieces_unix_umask}}
      {% for key,value in activepieces_docker_env.items() -%}
      - {{key}}={{value}}
      {% endfor +%}

    ports:
      {% for port in activepieces_docker_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor +%}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in activepieces_docker_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif -%}
      {%- endfor %}
{% for volume in activepieces_docker_volumes_extra -%}
      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor +%}

networks:
  default:
    name: "{{activepieces_docker_network_name}}"
    external: true
