server {
    include /config/nginx/ssl.conf;

    server_name {{activepieces_nginx_server_name}};

    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    client_max_body_size 0;
    error_log /dev/stdout info;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app syncthing;
        set $upstream_port {{activepieces_nginx_http_port}};
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
        proxy_hide_header Authorization;
    }

    location ~ (/syncthing)?/rest {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app syncthing;
        set $upstream_port {{activepieces_nginx_http_port}};
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
        proxy_hide_header Authorization;
    }
}
