[Unit]
Description=docker mariadb
After=docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
RemainAfterExit=true
WorkingDirectory={{mariadb_home}}
ExecStart=/usr/bin/docker compose up --remove-orphans
ExecStop=/usr/bin/docker compose down
