---
services:
  transmission:
    container_name: "transmission"
    image: "{{transmission_container_image}}"
    restart: unless-stopped
    devices: []
    environment:
      - PUID={{transmission_unix_user_id}}
      - PGID={{transmission_unix_group_id}}
      - UMASK={{transmission_unix_umask}}
      - TZ={{transmission_timezone}}
      {% for key,value in transmission_container_env.items() -%}
      - {{key}}={{value}}
      {% endfor %}

    ports:
      {% for port in transmission_container_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor %}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in transmission_container_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {% for volume in transmission_container_volumes_extra -%}

      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor %}

    cap_add: []

networks:
  default:
    name: "{{transmission_container_network_name}}"
    external: true
