[Unit]
Description=podman bazarr
After=podman.service
Requires=podman.service

[Install]
WantedBy=multi-user.target

[Service]
RemainAfterExit=true
WorkingDirectory={{bazarr_home}}
ExecStart=/usr/bin/podman compose up --remove-orphans
ExecStop=/usr/bin/podman compose down
