---
services:
  qbittorrent:
    container_name: "qbittorrent"
    image: "{{qbittorrent_container_image}}"
    restart: unless-stopped

    devices: []
    environment:
      - PUID={{qbittorrent_unix_user_id}}
      - PGID={{qbittorrent_unix_group_id}}
      - UMASK={{qbittorrent_unix_umask}}
      - TZ={{qbittorrent_timezone}}
      {% for key,value in qbittorrent_container_env.items() -%}
      - {{key}}={{value}}
      {% endfor +%}

    ports:
      {% for port in qbittorrent_container_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor +%}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in qbittorrent_container_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {% for volume in qbittorrent_container_volumes_extra -%}
      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor +%}

    cap_add: []
networks:
  default:
    name: "{{qbittorrent_{{cookiecutter.container_runtime}}_network_name}}"
    external: true
