---
services:
  swag:
    container_name: "swag"
    image: "{{swag_container_image}}"
    restart: unless-stopped

    devices: []
    environment:
      - PUID={{swag_unix_user_id}}
      - PGID={{swag_unix_group_id}}
      - UMASK={{swag_unix_umask}}
      - TZ={{swag_timezone}}
      {% for key,value in swag_container_env.items() -%}
      - {{key}}={{value}}
      {% endfor +%}

    ports:
      {% for port in swag_container_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor +%}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in swag_container_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {% for volume in swag_container_volumes_extra -%}
      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor +%}

    cap_add:
      - NET_ADMIN




networks:
  default:
    name: "{{swag_{{cookiecutter.container_runtime}}_network_name}}"
    external: true
