---
services:
  youtubedl:
    container_name: "youtubedl"
    image: "{{youtubedl_container_image}}"
    restart: unless-stopped

    devices: []
    environment:
      - PUID={{youtubedl_unix_user_id}}
      - PGID={{youtubedl_unix_group_id}}
      - UMASK={{youtubedl_unix_umask}}
      - TZ={{youtubedl_timezone}}
      {% for key,value in youtubedl_container_env.items() -%}
      - {{key}}={{value}}
      {% endfor %}

    ports:
      {% for port in youtubedl_container_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor %}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in youtubedl_container_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {% for volume in youtubedl_container_volumes_extra -%}

      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor %}

    cap_add: []

networks:
  default:
    name: "{{youtubedl_container_network_name}}"
    external: true
