---
services:
  bazarr:
    container_name: "bazarr"
    image: "{{bazarr_container_image}}"
    restart: unless-stopped
    devices: []
    environment:
      - PUID={{bazarr_unix_user_id}}
      - PGID={{bazarr_unix_group_id}}
      - UMASK={{bazarr_unix_umask}}
      - TZ={{bazarr_timezone}}
      {% for key,value in bazarr_container_env.items() -%}
      - {{key}}={{value}}
      {% endfor %}

    ports:
      {% for port in bazarr_container_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor %}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in bazarr_container_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {% for volume in bazarr_container_volumes_extra -%}

      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor %}

    cap_add: []

networks:
  default:
    name: "{{bazarr_container_network_name}}"
    external: true
