---
services:
  radarr:
    container_name: "radarr"
    image: "{{radarr_docker_image}}"
    restart: unless-stopped

    environment:
      - PUID={{radarr_unix_user_id}}
      - PGID={{radarr_unix_group_id}}
      - UMASK={{radarr_unix_umask}}
      {% for key,value in radarr_docker_env.items() -%}
      - {{key}}={{value}}
      {% endfor +%}

    ports:
      {% for port in radarr_docker_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor +%}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in radarr_docker_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif -%}
      {%- endfor %}
{% for volume in radarr_docker_volumes_extra -%}
      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor +%}

networks:
  default:
    name: "{{radarr_docker_network_name}}"
    external: true
