[Unit]
Description=podman scrutiny
After=podman.service
Requires=podman.service

[Install]
WantedBy=multi-user.target

[Service]
RemainAfterExit=true
WorkingDirectory={{scrutiny_home}}
ExecStart=/usr/bin/podman-compose up -d --remove-orphans
ExecStop=/usr/bin/podman-compose down


