---
services:
  jellyfin:
    container_name: "jellyfin"
    image: "{{jellyfin_docker_image}}"
    restart: unless-stopped

    environment:
      - PUID={{jellyfin_unix_user_id}}
      - PGID={{jellyfin_unix_group_id}}
      - UMASK={{jellyfin_unix_umask}}
      {% for key,value in jellyfin_docker_env.items() -%}
      - {{key}}={{value}}
      {% endfor +%}

    ports:
      {% for port in jellyfin_docker_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor +%}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in jellyfin_docker_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif -%}
      {%- endfor %}
{% for volume in jellyfin_docker_volumes_extra -%}
      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor +%}

networks:
  default:
    name: "{{jellyfin_docker_network_name}}"
    external: true
