---
services:
  nginx:
    container_name: "nginx"
    image: "{{nginx_container_image}}"
    restart: unless-stopped

    devices: []
    environment:
      - PUID={{nginx_unix_user_id}}
      - PGID={{nginx_unix_group_id}}
      - UMASK={{nginx_unix_umask}}
      - TZ={{nginx_timezone}}
      {% for key,value in nginx_container_env.items() -%}
      - {{key}}={{value}}
      {% endfor %}

    ports:
      {% for port in nginx_container_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor %}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in nginx_container_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {% for volume in nginx_container_volumes_extra -%}

      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor %}

    cap_add:
      - NET_ADMIN





networks:
  default:
    name: "{{nginx_container_network_name}}"
    external: true
