[Unit]
Description=Docker syncthing
After=docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
RemainAfterExit=true
WorkingDirectory={{syncthing_home}}
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down
