---
services:
  archivebox:
    container_name: "archivebox"
    image: "{{archivebox_docker_image}}"
    command: "server --quick-init 0.0.0.0:{{archivebox_http_port}}"
    restart: unless-stopped

    environment:
      - PUID={{archivebox_unix_user_id}}
      - PGID={{archivebox_unix_group_id}}
      - UMASK={{archivebox_unix_umask}}
      {% for key,value in archivebox_docker_env.items() -%}
      - {{key}}={{value}}
      {% endfor +%}

    ports:
      {% for port in archivebox_docker_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor +%}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in archivebox_docker_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif -%}
      {%- endfor %}
{% for volume in archivebox_docker_volumes_extra -%}
      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor +%}

networks:
  default:
    name: "{{archivebox_docker_network_name}}"
    external: true
