---
services:
  homarr:
    container_name: "homarr"
    image: "{{homarr_container_image}}"
    restart: unless-stopped

    devices: []
    environment:
      - PUID={{homarr_unix_user_id}}
      - PGID={{homarr_unix_group_id}}
      - UMASK={{homarr_unix_umask}}
      - TZ={{homarr_timezone}}
      {% for key,value in homarr_container_env.items() -%}
      - {{key}}={{value}}
      {% endfor %}

    ports:
      {% for port in homarr_container_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor %}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in homarr_container_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {% for volume in homarr_container_volumes_extra -%}

      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor %}

    cap_add: []

networks:
  default:
    name: "{{homarr_container_network_name}}"
    external: true
