---
services:
  netdata:
    container_name: "netdata"
    image: "{{netdata_docker_image}}"
    restart: unless-stopped

    environment:
      - PUID={{netdata_unix_user_id}}
      - PGID={{netdata_unix_group_id}}
      - UMASK={{netdata_unix_umask}}
      {% for key,value in netdata_docker_env.items() -%}
      - {{key}}={{value}}
      {% endfor +%}

    ports:
      {% for port in netdata_docker_ports -%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor +%}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {% for volume in netdata_docker_volumes -%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif -%}
      {%- endfor %}
{% for volume in netdata_docker_volumes_extra -%}
      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor +%}

networks:
  default:
    name: "{{netdata_docker_network_name}}"
    external: true
